
<audio src="@Url.Content("~/music/notNice.mp3")"></audio>
<div class="notNice-image" style="background-image: url(@Url.Content("~/images/notNice.gif"));">

</div>


@section Scripts {

    <script>
        window.addEventListener('click', function () {
            var audio = document.querySelector('audio');
            audio.volume = 0.2;
            audio.loop = true;
            audio.play().then(() => {
                console.log('Not Nice!');
            });
        });
    </script>
}