@{ 
    ViewData["Title"] = "Admin home page";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="list-group">
    <a asp-controller="Characters" class="list-group-item list-group-item-action">Characters</a>
    <a asp-controller="CharactersItems" class="list-group-item list-group-item-action">Characters Items</a>
    <a asp-controller="CharactersBaseStats" class="list-group-item list-group-item-action">Characters Base Stats</a>
    <a asp-controller="CharactersGameStats" class="list-group-item list-group-item-action">Characters Game Stats</a>
    <a asp-controller="ItemsCategories" class="list-group-item list-group-item-action">Items Categories</a>
    <a asp-controller="Items" class="list-group-item list-group-item-action">Items</a>
    <a asp-controller="ItemsStats" class="list-group-item list-group-item-action">Items Statistics</a>
    <a asp-controller="Rarities" class="list-group-item list-group-item-action">Rarities</a>
    <a asp-controller="Monsters" class="list-group-item list-group-item-action">Monsters</a>
    <a asp-controller="MonstersStats" class="list-group-item list-group-item-action">Monsters Statistics</a>
    <a asp-controller="MonstersLoot" class="list-group-item list-group-item-action">Monsters Loot</a>
    <a asp-controller="Role" class="list-group-item list-group-item-action">Roles</a>
    <a asp-controller="Markets" class="list-group-item list-group-item-action">Markets</a>
</div>