@model DivineMonad.Engine.AdvanceStats


<p>BATTLE!</p>
<form asp-controller="Game" asp-action="TestFight">

    <input type="hidden" asp-for="Accuracy" />
    <input type="hidden" asp-for="Agility" />
    <input type="hidden" asp-for="Armor" />
    <input type="hidden" asp-for="Attack" />
    <input type="hidden" asp-for="AttackMax" />
    <input type="hidden" asp-for="AttackMin" />
    <input type="hidden" asp-for="Block" />
    <input type="hidden" asp-for="BlockPr" />
    <input type="hidden" asp-for="CritChance" />
    <input type="hidden" asp-for="CritPr" />
    <input type="hidden" asp-for="Dexterity" />
    <input type="hidden" asp-for="Dodge" />
    <input type="hidden" asp-for="DodgePr" />
    <input type="hidden" asp-for="ExtraDropPr" />
    <input type="hidden" asp-for="HitPoints" />
    <input type="hidden" asp-for="Luck" />
    <input type="hidden" asp-for="Speed" />
    <input type="hidden" asp-for="Stamina" />
    <input type="hidden" asp-for="Strength" />

    <input id="test" type="submit" value="Attack" class="btn btn-primary testSth" style="margin: 50px;" />
</form>