@{ 
    Layout = "_SubLayout";
}

<div style="margin: 50px;">
    Backpack! Coming soon...
</div>

@section Scripts{ 
    <script>
        $('button').click(function () {
            console.log("Backpack! Coming soon...");
        });
    </script>
}