@model DivineMonad.Models.Character

@{ 
    Layout = "_SubLayout";
}

<div id="battle" style="margin: 50px;">
    <p>BATTLE!</p>
    <input id="attackBtn" type="button" value="Attack" class="btn btn-primary" style="margin: 50px;" />
</div>

@section Scripts{ 
    <script>
        $("#attackBtn").click(function () {
            let componentId = "battle";
            let action = "Raport";
            let controller = "Game";
            let data = { id: @Model.ID };
            ReloadComponent(componentId, action, controller, data);
        });
    </script>
}