@model DivineMonad.Models.Character


<div class="game-page">
    <div class="game-container">
        <div class="game-sidebar-character border">
            <div class="game-avatar">
                <img src="@Url.Content("~/images/avatars/sir_deevis2.jpg")"
                     class="character-avatar" alt="avatar">
            </div>
            <div class="game-character-info">
                <p class="text-truncate">
                    Name: @Model.Name <br />
                    HP: 16 567 / 20 000 <br />
                    Level: @Model.CBStats.Level <br />
                    Exp.: 2314 / 12 000 
                </p>
            </div>
        </div>
        <div class="game-sidebar-menu border">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active disabled">Menu</button>
                <button type="button" class="list-group-item list-group-item-action">Character</button>
                <button type="button" class="list-group-item list-group-item-action">Backpack</button>
                <button type="button" class="list-group-item list-group-item-action">Battle</button>
                <button type="button" class="list-group-item list-group-item-action">Market</button>
            </div>
        </div>
        <div class="game-plane border">
            <input type="button" value="Attack" class="btn btn-primary" style="margin: 50px;" />
        </div>
    </div>
</div>