
@{ 
    Layout = "_SubLayout";
}

<div style="margin: 50px;">
<button type="button" class="btn btn-primary">News</button>
</div>

@section Scripts{ 
    <script>
        $('button').click(function () {
            console.log("News! Comeing soon...");
        });
    </script>
}