@model DivineMonad.Engine.Raport.RaportGenerator

@{ 
    Layout = "_SubLayout";
}

<div style="margin: 50px;">
    @Model.Result
    <button type="button" class="btn btn-primary">Raport!</button>
</div>

@section Scripts{ 
    <script>
        $('button').click(function () {
            console.log("WAS CLICKED!");
        });
    </script>
}