@model List<string>

@{ 
    Layout = "_SubLayout";
}

<div class="game-content-raports">
    <div class="row vertical-scroll justify-content-center medium-border">
        <div class="col-12 list-group p-0">
            @foreach (string raport in Model)
            {
                <button type="button" class="list-group-item list-group-item-action">@raport</button>
            }
        </div>
    </div>
</div>

@section Scripts{ 
    <script>

    </script>
}