@model DivineMonad.Models.Character



<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" type="hidden" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvatarImage"></label>
                <input asp-for="AvatarImage" accept="image/*">
                <span asp-validation-for="AvatarImage"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn-std" />
            </div>
        </form>
        <form asp-action="Delete" id="delete-form">
            <input type="hidden" asp-for="ID" />
            <label class="control-label mt-5">Delete Character</label>
            <div class="form-group text-center">
                <input type="button" value="Delete" onclick="delete_submit()" class="btn-std" />
            </div>
        </form>
        <input type="button" value="Return" class="btn-left-arrow" onclick="location.href='@Url.Action("Index", "Characters")'" />
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function delete_submit() {
            var res = confirm("Are you sure you want to delete this character?");
            if (res == true) {
                $("#delete-form").submit();
            }
        }
    </script>
}
