@model DivineMonad.Models.Item

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatisticsId" class="control-label"></label>
                <select asp-for="StatisticsId" class="form-control" asp-items="ViewBag.StatisticsId" onchange="Reload()"></select>
            </div>
            <div class="form-group">
                <label asp-for="RarityId" class="control-label">Rarity</label>
                <select asp-for="RarityId" class="form-control" asp-items="ViewBag.RarityId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div id="reloadComponent" class="col-md-6 offset-md-2">
        @await Component.InvokeAsync("ShowExternalProps", new { id = Int32.Parse(ViewBag.DefaultStatsId), type = "ItemStatistics" })
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function Reload() {
        $.ajax({
            url: '@Url.Action("ReloadViewComponent", "Items")',
            data: { newId: $('#StatisticsId option:selected').val() },
            success: function (data) { $("#reloadComponent").html(data); }
        });
    }
</script>
}
