/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a, a:hover, a:link {
    color: #00a17e;
    font-weight: 500;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black ;
    background-color: #72c3b1;
    border-color: #2b8b76;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.bg-dark {
    background-color: #41a58f !important;
}

.box-shadow {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, .15);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    min-width: 1000px;
    overflow-x: visible;
    overflow-y: overlay;
    background: url("../patterns/pattern4.png") top left repeat;
    background-position: top left;
    /*background-color: #f2fcfa;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #e8f7f4;
}

.container {
    padding: 0;
}

/*EDIT STYLES*/
.table td, tr {
    vertical-align: unset!important;
}

.btn-primary {
    color: black;
    background-color: #8cd9c8;
    border-color: #2b8b76;
}

.btn-primary:hover {
    color: #083c31;
    background-color: #7fd0be;
    border-color: #25836f;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0.2rem 0.1rem rgba(19, 151, 131, 0.50);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: black;
    background-color: #2b8b76;
    border-color: #2b8b76;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: black;
    background-color: #7fd0be;
    border-color: #25836f;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0.2rem 0.1rem rgba(19, 151, 131, 0.50);
}

.list-group-item.active {
    z-index: 2;
    color: black;
    background-color: #7fd0be;
    border-color: #25836f;
}

@media (min-width: 576px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    header .container {
        max-width: 800px;
    }
}

.game-content-character {
    margin: 40px 10px 10px 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.game-content-character .nav-tabs {
    color: #495057;
    background-color: rgba(224, 246, 238, 0.20);
    border: none;
}

.game-content-character .tab-pane.fade {
    background-color: rgba(224, 246, 238, 0.30);
    padding: 50px;
}

.game-content-character .nav-link {
    border-spacing: 23px;
    background-color: rgba(44, 151, 115, 0.20);
    color: #0f8e72;
}

.game-content-character .nav-link.active {
    background-color: rgba(224, 246, 238, 0.20);
}

.game-content-battle {
    margin: 20px 40px 10px 40px;
}

.game-content-battle .card {
    max-width: 180px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: none;
    background-color: transparent;
}

.game-content-battle .card-body {
    background-color: rgba(224, 246, 238, 0.20);
    -webkit-box-shadow: inset 0px 20px 20px -20px rgba(26,92,68,1);
    -moz-box-shadow: inset 0px 20px 20px -20px rgba(26,92,68,1);
    box-shadow: inset 0px 20px 20px -20px rgba(26,92,68,1);
    margin: 0px 5px 10px 5px;
    padding: 5px 2px 5px 2px;
    text-align: center;
}

.game-content-battle .card-img-top {
    padding: 0px 10px 0px 10px;
}

.game-content-raport {
    margin: 40px;
}

.game-content-raport .raport {
    max-height: 250px;
    min-height: 250px;
}

.game-content-raport .opponent {
    max-height: 150px;
}

.game-content-raport .player {
    max-height: 150px;
}

.game-content-backpack {
    margin: 40px 35px 10px 35px;
}

.game-content-backpack .equipment {
    height: 240px;
}

.game-content-backpack .stats {
    background-color: rgba(18, 189, 126, 0.20);
    white-space: nowrap;
    height: 260px;
    padding-top: 10px;
}

.game-content-backpack .backpack {
    background-color: rgba(18, 189, 126, 0.20);
    padding: 30px 55px 30px 55px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.game-content-backpack .item-slot {
    background-color: #083c31;
    max-width: 80px;
    height: 80px;
    text-align: center;
    padding: 0px;
    border: 1px solid #26A45D;
    border-radius: 12px;
}

.game-content-backpack .img-item {
    border-radius: 12px;
    max-width: 75px;
    margin-top: 1px;
    background-color: transparent;
}

.game-content-backpack .active-item {
    background-color: rgb(0, 255, 193);

}

.game-content-backpack .item-rarity {
    margin-top: -8px;
    font-size: 14px;
}

.game-content-market {
    margin: 40px 35px 10px 35px;
}

.game-content-market .market {
    background-color: rgba(18, 189, 126, 0.20);
    padding: 30px 25px 30px 25px;
}

.game-content-market .market-info {
    background-color: rgba(18, 189, 126, 0.20);
    padding-top: 10px;
}

.game-content-market .stats {
    white-space: nowrap;
}

.game-content-market .trade {
    height: 18%;
}

.game-content-market .backpack {
    background-color: rgba(18, 189, 126, 0.20);
    padding: 30px 55px 30px 55px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.game-content-market .item-slot {
    background-color: #083c31;
    max-width: 80px;
    height: 80px;
    text-align: center;
    padding: 0px;
    border: 1px solid #26A45D;
    border-radius: 12px;
}

.game-content-market .img-item {
    border-radius: 12px;
    max-width: 75px;
    margin-top: 1px;
    background-color: transparent;
}

.game-content-market .active-item {
    background-color: rgb(0, 255, 193);
}

.game-content-market .item-rarity {
    margin-top: -8px;
    font-size: 14px;
}

/*Horizontal scroll*/
.horizontal-scroll {
    overflow-x: scroll;
    white-space: nowrap;
    background-color: rgba(242, 255, 251, 0.30);
}

.vertical-scroll {
    overflow-y: scroll;
    background-color: rgba(242, 255, 251, 0.30);
}


/*Style for item image*/
.img-item {
    padding: 2px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 12px;
    max-width: 60px;
    height: auto;
}

.character-info {
    max-width: 100%;
    min-width: 100px;
    min-height: 60px;
}
.character-info p {
    margin: 5px;
    white-space: nowrap
}

.character-list {
    border-image-width: 6px 6px 0 6px !important;
    background-color: rgba(170, 220, 207, 0.7);
    padding: 20px !important;
}

.new-character-list {
    background-color: rgba(207, 238, 229, 0.50);
    padding: 20px !important;
}

.character-btns {
    max-height: 100px;
    min-width: 95px;
    min-height: 60px;
    display: inline-grid;
}
.character-btns input {
    max-height: 40px;
    max-width: 120px;
    min-width: 100px;
}
.character-avatar {
    padding: 2px;
    border: 3px solid;
    max-height: 100px;
    max-width: 100%;
    min-width: 60px;
    min-height: 60px;
    border-image-slice: 9;
    border-image-width: 6px;
    border-image-outset: 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url(../images/gui/border.png);
}

.character-nav-tab {
    margin: auto;
    width: 50%;
}

.notNice-image {
    cursor: pointer;
    width: 80%;
    margin: auto;
    height: 720px;
}

.big-border {
    border: 1px solid;
    border-image-slice: 9;
    border-image-width: 8px;
    border-image-outset: 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url(../images/gui/border.png);
}

.medium-border {
    border: 1px solid;
    border-image-slice: 9;
    border-image-width: 6px;
    border-image-outset: 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url(../images/gui/border.png);
}

.small-border {
    border: 1px solid;
    border-image-slice: 9;
    border-image-width: 4px;
    border-image-outset: 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url(../images/gui/border.png);
}

.btn-std {
    background: url('../images/gui/btn_std_all.png') no-repeat -10px -4px;
    border: none;
    width: 101px;
    height: 32px;
}

.btn-std:active {
    background-position: -10px -43px;
}

.btn-std:focus {
    outline: none;
    box-shadow: none;
}

.btn-left-arrow {
    background: url('../images/gui/left_arrow.png') no-repeat -4px -4px;
    height: 22px;
    border: none;
    padding-left: 36px;
    line-height: 0;
}

.btn-left-arrow:focus {
    outline: none;
    box-shadow: none;
}

.game-page {
    width: 800px;
    min-height: 800px;
    margin: auto;
}

.game-container {
    display: grid;
    grid-template-columns: 200px 640px;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 0px 0px;
    grid-template-areas: "game-sidebar-character game-plane" "game-sidebar-menu game-plane" ". game-plane";
}

.game-sidebar-character {
    grid-area: game-sidebar-character;
    background-color: rgba(129, 212, 189, 0.5);
    margin: 0 0 20px 0;
}

.small-background {
    position: relative;
    padding: 0;
    margin: 0;
}

.big-background {
    position: relative;
    padding: 0;
    margin: 0;
}

.small-background .top-left {
    position: absolute;
    background: url('../images/gui/corner1_1.png') no-repeat 0 0;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    margin: -13px 0 0 -13px;
    z-index: 4;
}

.big-background .top-left {
    position: absolute;
    background: url('../images/gui/corner2_1.png') no-repeat 0 0;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    margin: -12px 0 0 -18px;
    z-index: 4;
}

.small-background .top-right {
    position: absolute;
    background: url('../images/gui/corner1_2.png') no-repeat 0 0;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    margin-left: calc(100% - 27px);
    margin-top: -13px;
    z-index: 4;
}

.big-background .top-right {
    position: absolute;
    background: url('../images/gui/corner2_2.png') no-repeat 0 0;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    margin-left: calc(100% - 44px);
    margin-top: -14px;
    z-index: 4;
}

.small-background .bottom-left {
    position: absolute;
    background: url('../images/gui/corner1_3.png') no-repeat 0 0;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    margin-left: -13px;
    z-index: 4;
}

.big-background .bottom-left {
    position: absolute;
    background: url('../images/gui/corner2_4.png') no-repeat 0 0;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    margin-left: -18px;
    z-index: 4;
}

.small-background .bottom-right {
    position: absolute;
    background: url('../images/gui/corner1_4.png') no-repeat 0 0;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    margin-left: calc(100% - 27px);
    z-index: 4;
}

.big-background .bottom-right {
    position: absolute;
    background: url('../images/gui/corner2_3.png') no-repeat 0 0;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    margin-left: calc(100% - 43px);
    z-index: 4;
}


.game-sidebar-menu {
    grid-area: game-sidebar-menu;
    background-color: rgba(129, 212, 189, 0.5);
    margin-right: 1px;
}

.game-sidebar-menu a {
    background: url('../images/gui/button3.png') no-repeat 49.351% 55%;
    height: 40px;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
}

.game-sidebar-menu a:visited, a:link, a:hover {
    color: #05352d;
    font-style: normal;
    text-decoration: none;
}

.game-sidebar-menu .active {
    text-shadow: 0px 0px 5px white;
    background: transparent url('../images/gui/button4.png') no-repeat 49.351% 55%;
}

.game-sidebar-menu .list-group {
    padding-bottom: 20px;
    padding-top: 10px;
}

.game-plane {
    grid-area: game-plane;
    background-color: rgba(129, 212, 189, 0.5);
    margin-left: 40px;
}


.game-avatar {
    text-align: center;
    margin-top: 10px;
}

.game-character-info {
    margin: 10px;
    height: 245px;
}

.game-character-info p {
    margin: 0 0 3px 0;
    padding-top: 8px;

}

.game-character-info .background {
    background: url(../images/gui/button1.png) no-repeat 49.254% 55%;
    background-size: 240px 60px;
    height: 40px;
    width: 240px;
    margin-left: -80px;
}

.game-character-info .custom-fieldset {
    margin-bottom: 2px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #389072;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-box-shadow: inset 0px 16px 10px -20px rgba(26,92,68,1);
    -moz-box-shadow: inset 0px 16px 10px -20px rgba(26,92,68,1);
    box-shadow: inset 0px 16px 10px -20px rgba(26,92,68,1);
}

.game-character-info .custom-legend {
    font-size: 12px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(181, 251, 232, 0.20);
    border: 1px solid #389072;
    border-radius: 6px;
}

/*.game-character-info .progress {
    display: inline-block;
    margin-top: 10px;
    width: 100px;
}

.game-character-info .progress-bar {
    display: contents;
    background-color: red;
}
*/