/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a, a:hover, a:link {
    color: #00a17e;
    font-weight: 500;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black ;
    background-color: #72c3b1;
    border-color: #2b8b76;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.bg-dark {
    background-color: #41a58f !important;
}

.box-shadow {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, .15);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    min-width: 1000px;
    overflow-x: visible;
    overflow-y: overlay;
    background: url("../patterns/pattern4.png") top left repeat;
    background-position: top left;
    /*background-color: #f2fcfa;*/
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #e8f7f4;
}

/*EDIT STYLES*/
.table td, tr {
    vertical-align: unset!important;
}

.btn-primary {
    color: black;
    background-color: #8cd9c8;
    border-color: #2b8b76;
}

.btn-primary:hover {
    color: #083c31;
    background-color: #7fd0be;
    border-color: #25836f;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0.2rem 0.1rem rgba(19, 151, 131, 0.50);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: black;
    background-color: #2b8b76;
    border-color: #2b8b76;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: black;
    background-color: #7fd0be;
    border-color: #25836f;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0.2rem 0.1rem rgba(19, 151, 131, 0.50);
}

.list-group-item.active {
    z-index: 2;
    color: black;
    background-color: #7fd0be;
    border-color: #25836f;
}

@media (min-width: 576px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    header .container {
        max-width: 800px;
    }
}

.game-content-character {
    margin: 40px 10px 10px 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.game-content-character .nav-tabs {
    color: #495057;
    background-color: rgba(224, 246, 238, 0.20);
    border:none;
}

.game-content-character .tab-pane.fade {
    background-color: rgba(224, 246, 238, 0.30);
    border-radius: 6px;
    border: 3px outset #26a485;
    border-top: 1px outset #26a485;
    padding: 50px;
}

.game-content-character .nav-link.active {
    background-color: rgba(224, 246, 238, 0.30);
    border-top-right-radius: 10px 5px;
    border-top-left-radius: 10px 5px;
    border: solid 2px #00a17e;
    border-bottom: none;
}

.game-content-battle {
    margin: 40px 30px 10px 30px;
    display: flex;
}

.game-content-battle .card {
    max-width: 180px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: none;
    background-color: transparent;
}

.game-content-battle .card-body {
    background-color: rgba(224, 246, 238, 0.20);
    border-radius: 6px;
    border: solid 2px #00a17e;
    border-top: solid 1px #00a17e;
    -webkit-box-shadow: inset 0px 15px 20px -20px rgba(26,92,68,1);
    -moz-box-shadow: inset 0px 15px 20px -20px rgba(26,92,68,1);
    box-shadow: inset 0px 15px 20px -20px rgba(26,92,68,1);
    margin: 0px 5px 10px 5px;
    padding: 5px 2px 5px 2px;
    text-align: center;
}

.game-content-battle .card-img-top {
    padding: 0px 10px 0px 10px;
}

.game-content-raport {
    margin: 0px 30px 10px 30px;
}

.game-content-raport .raport {
    max-height: 250px;
}

.game-content-raport .opponent {
    max-height: 150px;
}

.game-content-raport .player {
    max-height: 150px;
}

.game-content-backpack {
    margin: 40px 35px 10px 35px;
}

.game-content-backpack .equipment {
    height: 240px;
}

.game-content-backpack .stats {
    background-color: rgba(18, 189, 126, 0.20);
    border: 3px outset #26a485;
    border-top: 1px outset #26a485;
    border-radius: 6px;
    height: 240px;
    padding-top: 10px;
}

.game-content-backpack .backpack {
    background-color: rgba(18, 189, 126, 0.20);
    border: 3px outset #26a485;
    border-top: 1px outset #26a485;
    border-radius: 6px;
    padding: 30px 55px 30px 55px;
    margin-top: 30px;
}

.game-content-backpack .item-slot {
    background-color: #083c31;
    max-width: 80px;
    height: 80px;
    text-align: center;
    padding: 0px;
    border: 1px solid #26A45D;
    border-radius: 12px;
}

.game-content-backpack .img-item {
    border-radius: 12px;
    max-width: 75px;
    margin-top: 1px;
    background-color: transparent;
}

.game-content-backpack .active-item {
    background-color: rgb(0, 255, 193);

}

.game-content-backpack .item-rarity {
    margin-top: -8px;
    font-size: 14px;
}


/*Horizontal scroll*/
.horizontal-scroll {
    overflow-x: scroll;
    white-space: nowrap;
    background-color: rgba(242, 255, 251, 0.30);
}

.vertical-scroll {
    overflow-y: scroll;
    background-color: rgba(242, 255, 251, 0.30);
}


/*Style for item image*/
.img-item {
    padding: 2px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 12px;
    max-width: 60px;
    height: auto;
}

.character-info {
    max-width: 100%;
    min-width: 100px;
    min-height: 60px;
}
.character-info p {
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    white-space: nowrap
}
.character-btns {
    max-height: 100px;
    min-width: 95px;
    min-height: 60px;
    display: inline-grid;
}
.character-btns input {
    max-height: 40px;
    max-width: 120px;
    min-width: 100px;
}
.character-avatar {
    padding: 2px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-height: 100px;
    max-width: 100%;
    min-width: 60px;
    min-height: 60px;
}

.character-nav-tab {
    margin: auto;
    width: 50%;
}

.notNice-image {
    cursor: pointer;
    width: 80%;
    margin: auto;
    height: 720px;
}

.game-page {
    width: 800px;
    min-height: 800px;
    margin: auto;
}

.game-container {
    display: grid;
    grid-template-columns: 200px 600px;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 0px 0px;
    grid-template-areas: "game-sidebar-character game-plane" "game-sidebar-menu game-plane" ". game-plane";
}

.game-sidebar-character {
    grid-area: game-sidebar-character;
    background-color: rgba(93, 199, 170, 0.6);
    border: 1px solid #389072;
    border-radius: 5px;
    margin: 0 1px 1px 0;
}

.game-sidebar-menu {
    grid-area: game-sidebar-menu;
    border: 1px solid #389072;
    border-radius: 5px;
    margin-right: 1px;
}

.game-plane {
    grid-area: game-plane;
    background-color: rgba(129, 212, 189, 0.5);
    border: 1px solid #389072;
    border-radius: 5px;
}

.game-avatar {
    text-align: center;
    margin-top: 20px;
}

.game-character-info {
    margin: 20px 10px 20px 10px;
    height: 120px;
}

.game-character-info p {
    margin: 5px;
}
