/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a, a:hover, a:link {
    color: #2b8b76;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black ;
    background-color: #72c3b1;
    border-color: #2b8b76;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.bg-dark {
    background-color: #41a58f !important;
}

.box-shadow {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, .15);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f2fcfa;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #e8f7f4;
}

/*EDIT STYLES*/
.table td, tr {
    vertical-align: unset!important;
}

.btn-primary {
    color: black;
    background-color: #8cd9c8;
    border-color: #2b8b76;
}

.btn-primary:hover {
    color: #083c31;
    background-color: #7fd0be;
    border-color: #25836f;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0.2rem 0.1rem rgba(19, 151, 131, 0.50);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: black;
    background-color: #2b8b76;
    border-color: #2b8b76;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: black;
    background-color: #7fd0be;
    border-color: #25836f;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0.2rem 0.1rem rgba(19, 151, 131, 0.50);
}



/* NEW STYLES*/
/*Style for button*/

/*Horizontal scroll*/
.horizontal-scroll {
    overflow-x: scroll;
    white-space: nowrap;
}


/*Style for item image*/
.img-item {
    padding: 2px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 60px;
    height: auto;
}