@model DivineMonad.Models.Character

<div class="row justify-content-center">
    <div class="col-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <ul class="list-group">
                <li class="list-group-item active">
                    Create Character
                </li>
                <li class="list-group-item list-border medium-border">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </li>
                <li class="list-group-item list-border medium-border">
                    <div class="row">
                        <div class="col-4">
                            <input asp-for="AvatarImage" id="selectedFile" style="display: none;"  accept="image/*">
                            <input type="button" class="btn-std" value="Choose ..." style="margin: 30px;"
                                   onclick="document.getElementById('selectedFile').click();" />
                            <span asp-validation-for="AvatarImage"></span>
                        </div>
                        <div class="col-8"  style="text-align: center;">
                            <img id="avatar" src="@Url.Content("~/images/avatars/avatar_default.png")"
                                 class="character-avatar" alt="avatar">
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-border medium-border">
                    <input type="hidden" asp-for="UserId" />
                    <div style="text-align: center;">
                        <input type="submit" value="Create" class="btn-std" />
                    </div>
                </li>
                <li class="list-group-item list-border-bottom medium-border">
                    <input type="button" value="Return" class="btn-left-arrow" onclick="location.href='@Url.Action("Index", "Characters")'" />
                </li>
            </ul>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#selectedFile").change(function () {
            readURL(this, "avatar");
        });
    </script>
}